Notebook outlining what functions from nltk will be useful for pre-processing the text and training the classification algorithm.

Expects a CSV file in the current directory containing a release's date, text, and classification (pos or neg) in each row.

In [30]:
import pandas as pd
import nltk
import re

import sklearn

Some pre-processing to get the dataframe into the format we need for content analysis.

In [22]:
release_df = pd.read_csv('release_df.csv', index_col=0)

In [15]:
release_df['year'] = release_df['date'].apply(lambda x: int(x[-4:]))

In [29]:
release_df['month'] = release_df['date'].apply(lambda x: re.findall(r'(\w+) \d', x)[0])

In [23]:
release_df[:10]

,date,release_text,year,month
0,"January 31, 2018",Information received since the Federal Open Ma...,2018,January
1,"February 01, 2017",Information received since the Federal Open Ma...,2017,February
2,"March 15, 2017",Information received since the Federal Open Ma...,2017,March
3,"May 03, 2017",Information received since the Federal Open Ma...,2017,May
4,"June 14, 2017",Information received since the Federal Open Ma...,2017,June
5,"July 26, 2017",Information received since the Federal Open Ma...,2017,July
6,"September 20, 2017",Information received since the Federal Open Ma...,2017,September
7,"November 01, 2017",Information received since the Federal Open Ma...,2017,November
8,"December 13, 2017",Information received since the Federal Open Ma...,2017,December
9,"January 27, 2016",Information received since the Federal Open Ma...,2016,January

In [24]:
testrelease_df = release_df[(release_df['year']==2017) | (release_df['year']==2018)]

In [26]:
trainrelease_df = release_df.iloc[9:]

In [29]:
testrelease_df[:5]

,date,release_text,year,month
0,"January 31, 2018",Information received since the Federal Open Ma...,2018,January
1,"February 01, 2017",Information received since the Federal Open Ma...,2017,February
2,"March 15, 2017",Information received since the Federal Open Ma...,2017,March
3,"May 03, 2017",Information received since the Federal Open Ma...,2017,May
4,"June 14, 2017",Information received since the Federal Open Ma...,2017,June

In [28]:
trainrelease_df[:5]

,date,release_text,year,month
9,"January 27, 2016",Information received since the Federal Open Ma...,2016,January
10,"March 16, 2016",Information received since the Federal Open Ma...,2016,March
11,"April 27, 2016",Information received since the Federal Open Ma...,2016,April
12,"June 15, 2016",Information received since the Federal Open Ma...,2016,June
13,"July 27, 2016",Information received since the Federal Open Ma...,2016,July

Now text processing using `nltk`.

In [ ]:
#release_df['tokenized'] = release_df['text']

In [ ]:
releaseTFVectorizer = sklearn.feature_extraction.text.TfidfVectorizer(max_df=0.5, min_df=3, stop_words='english', norm='l2')